    <nav class="py-4 border-bottom navbar-light bg-light">
      <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
          <li class="nav-item"><a
              href="/"
              class="nav-link link-body-emphasis px-1 active"
              aria-current="page"
            >Home</a></li>
          <li class="nav-item"><a
              href="#"
              class="nav-link link-body-emphasis px-2"
            >Dashboard</a></li>
         <li class="nav-item">
            {{!-- If user is logged in, route to /profile page and display href to logged out, if user is not logged in, display login text and route to login page --}}
             {{#if logged_in}}
            <a href="/profile"
              class="nav-link link-body-emphasis px-2"
            >Logout</a> 
            {{else}}
            <a href="/login"
            class="nav-link link-body-emphasis px-2"
            >login</a></li>
            {{/if}}
          </ul>  
      </div>
      <div class="container d-flex flex-wrap p-3">
        <h1>Audiophiles nav-bar partial</h1>
      </div>
    </nav>

