<h4>Audiophiles Test from home handlebars</h4>
<input id="queryInputField"/>
<button id="querySubmitButton" type="button" >Click Me!</button>

<script src="../public/js/apiController.js"></script>






