
<input id="queryInputField"/>
<button id="querySubmitButton" type="button" >Anything but Abba</button>


{{!-- Displays Music Data from Api --}}
<div class="container">
<div class="row" id="music-container">
 </div> 
 </div>
  
       




  <script src="../public/js/apiController.js"></script>