<h1> Welcome {{first_name}} {{last_name}}</h1>

<!-- 
    <button class="show-profile-btn">Show profile</button>  
-->

<div class="user-name">User Name:</div>
<div class="user-email">User Email:</div>
<div class="user-musiclist">User Musiclist:</div>
<div class="user-following-list">User Following list:</div>

<div class="container">
  <div class="row" id="music-container">
  </div>
</div>

<button class="follow-btn">Follow A New People</button>

<script src="../public/js/profile.js"></script>